@model WooxTravelProject.Entities.Admin

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <div class="alert alert-warning"><h3> Kullanıcı Giriş Sayfası</h3></div>
    <label>Kullanıcı Adınız</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    <label>Şifreniz</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
</div>
